[submodule "1_InternalDemo"]
	path = 1_InternalDemo
	url = git@github.com:plus3x/Intern1Demo.git
[submodule "2_StathamQuotes"]
	path = 2_StathamQuotes
	url = git@github.com:plus3x/StathamQuotes.git
[submodule "3_TwoInOne"]
	path = 3_TwoInOne
	url = git@github.com:plus3x/TwoInOne.git
[submodule "4_Internal2Demo"]
	path = 4_Internal2Demo
	url = git@github.com:plus3x/Internal2Demo.git
