[submodule "1_InternalDemo"]
	path = 1_InternalDemo
	url = git@github.com:plus3x/Intern1Demo.git
[submodule "2_StathamQuotes"]
	path = 2_StathamQuotes
	url = git@github.com:plus3x/StathamQuotes.git
[submodule "3_TwoInOne"]
	path = 3_TwoInOne
	url = git@github.com:plus3x/TwoInOne.git
[submodule "4_Internal2Demo"]
	path = 4_Internal2Demo
	url = git@github.com:plus3x/Internal2Demo.git
[submodule "5_Internal3Demo"]
	path = 5_Internal3Demo
	url = git@github.com:plus3x/Internal3Demo.git
[submodule "6_MyFileNavigator"]
	path = 6_MyFileNavigator
	url = git@github.com:plus3x/MyFileNavigator.git
[submodule "7_Gint"]
	path = 7_Gint
	url = git@github.com:plus3x/gint2.git
[submodule "8_VladWeather"]
	path = 8_VladWeather
	url = git@github.com:plus3x/VladWeather.git
